.information{
    margin: 0 auto;
    .icon{
        font-size: 3rem;
        color: $primary;
    }
    .card{
        height: 370px;
        margin: 0 auto;
    }
    .info-cards{
        margin: 0 auto;
    }
}